---
---
// for a list of bootstrap override variables:
// https://github.com/twbs/bootstrap-sass/blob/master/assets/stylesheets/bootstrap/_variables.scss
// anything in there that's marked !default is fair game to override here.

$navbar-default-link-color:             {{ site.color_scheme.menu_link }};
$navbar-default-link-hover-color:       {{ site.color_scheme.menu_link_hover }};
$navbar-default-bg:                     {{ site.color_scheme.menu_bg }};
$navbar-default-brand-color:            {{ site.color_scheme.brand }};

$screen-lg:                  1300px;
$screen-md:                  1100px;

//** Number of columns in the grid.
$grid-columns:              12 !default;
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width:         30px !default;

//$container-desktop:           (700px + $grid-gutter-width);
//$container-large-desktop:     (700px + $grid-gutter-width);

$icon-font-path: "../../../fonts/bootstrap/";
@import 'bootstrap';

// (Your custom CSS Here)
body
{
  padding-top: 50px;
  background-color: {{ site.color_scheme.body_bg }};
  color: {{site.color_scheme.body_text}};
}

#logoandsponsors
{
  background-color: {{ site.color_scheme.logo_pane_bg }};
}

#footer {
  background-color: $navbar-default-bg !important;
  color: $navbar-default-link-color;
}
.container-fluid {
    height: 100%;
    overflow-y: hidden; /* don't show content that exceeds my height */
}

.fill-height {
    min-height: 100%;
    height:auto !important; /* cross-browser */
    height: 100%; /* cross-browser */
}

@media(min-width: $container-desktop) and (max-width: $container-large-desktop - 1)
{
  .row-md-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-md-height {
    display: table-cell;
    float: none;
    height: 100%;
  }
  .col-md-top {
    vertical-align: top;
  }
  .col-md-middle {
    vertical-align: middle;
  }
  .col-md-bottom {
    vertical-align: bottom;
  }
}

@media(min-width: $container-large-desktop)
{
  .row-lg-height {
    display: table;
    table-layout: fixed;
    height: 100%;
    width: 100%;
  }
  .col-lg-height {
    display: table-cell;
    height: 100%;
  }
  .col-lg-top {
    vertical-align: top;
  }
  .col-lg-middle {
    vertical-align: middle;
  }
  .col-lg-bottom {
    vertical-align: bottom;
  }
}

.image-center
{
  margin: 0 auto;
}

.icon {
  display: block;
  width: 32px;
  height: 32px;
}

// .sponsor-logo
// {
//   //margin: 25px;
// }

.program-days
{   background-color: black;
    text-align: center;
    color: white;
    font-size: 18px;
    line-height: 22px;
	font-weight: bold;
}

.program-vr-title
{   background-color: #7E0E21;
    text-align: center;
    color: white;
    font-size: 24px;
	font-weight: bold;
	height: 80px;
}

.program-3d-title
{   background-color: #3c78d8;
    text-align: center;
    color: white;
    font-size: 24px;
	font-weight: bold;
	height: 80px;
}

.program-vr
{   background-color: #990000;
    text-align: center;
    color: white;
    font-size: 16px;
}

.program-3d
{   background-color: #3c78d8;
    text-align: center;
    color: white;
    font-size: 16px;
}

.program-time
{
    text-align: center;
    color: white;
    font-size: 15px;
	line-height: 14px;
	font-weight: bold;
}

.program-vr-session
{   background-color: #990000;
    text-align: center;
    color: white;
    font-size: 13px;
	line-height: 14px;
}

.program-vr-session a
{
    color: #FFCC00;
}

.program-table
{   border: 1px solid white;
    border-collapse: collapse;
    width: 100%;
}

.program-table td
{   border: 2px solid white;
    border-collapse: collapse;
    border-radius: 30px;
    width: 20%;
	padding: 10px;
}

.program-table td td
{  border:none;
   padding: 0px;
   width: 50%;
}

.schedule-table
{   border: 1px solid white;
    border-collapse: collapse;
    width: 100%;
	padding: 10px;
}

.schedule-table a
{   color: #1c4587;
}

.schedule-table th
{   background-color: black;
    text-align: center;
    color: white;
    font-size: 12px;
	font-weight: bold;
	border: 1px solid white;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

.schedule-table td
{   text-align: center;
    font-size: 12px;
	border: 1px solid #cccccc;
	padding-top: 10px;
	padding-bottom: 10px;
	padding-left: 5px;
	padding-right: 5px;
	color: black;
}

.schedule-table-empty
{   background-color: white;
}

.schedule-table-3dui
{   background-color: #c9daf8;
    vertical-align: top;
}

.schedule-table-papers
{   background-color: #c9daf8;
    vertical-align: top;
}

.schedule-table-posters
{   background-color: #ea9999;
    vertical-align: top;
}

.schedule-table-panel
{   background-color: #b6d7a8;
    vertical-align: top;
}

.schedule-table-demos
{   background-color: #a2c4c9;
    vertical-align: top;
}

.schedule-table-tutorial
{   background-color: #b6d7a8;
    vertical-align: top;
}

.schedule-table-workshop
{   background-color: #a2c4c9;
    vertical-align: top;
}

.schedule-table-dc
{   background-color: #d5a6bd;
    vertical-align: top;
}

.schedule-table-exhibits
{   background-color: #fce5cd;
    vertical-align: top;
}

.schedule-table-special
{
	background-color: #b4a7d6;
}

/* Intentional misspelling of sponsor: Dodge easylist filter */
.spawnsor-block a
{   display: block;
}

.spawnsor-block img
{   max-width: 100%;
    height: auto;
}

@media(min-width: $screen-md) {
    .spawnsor-block img
    {   max-width: 400px;
    }
}

.text-red
{   color: #990000;
}

.bold
{   font-weight: 700;
}

.videoSize object
{   width: 100%;
}

a:link, a:hover, a:visited, a:active
{   text-decoration: none;
}

.navbar-default .navbar-nav > .open > a, .navbar-default .navbar-nav > .open > a:hover, .navbar-default .navbar-nav > .open > a:focus
{   color: {{ site.color_scheme.menu_text_selected  }};
}

.dropdown-menu > .active > a, .dropdown-menu > .active > a:hover, .dropdown-menu > .active > a:focus
{   background-color: {{ site.color_scheme.menu_dropdown_hover }};
}

.active > a
{   color: {{site.color_scheme.menu_dropdown_text_selected }} !important;
}

a.anchor{
    display: block;
    padding-top: 40px;
    margin-top: -40px;
}

.bs-calltoaction {
    position: relative;
    width:auto;
    padding: 15px 25px;
    border: 1px solid black;
    margin-top: 10px;
    margin-bottom: 10px;
    border-radius: 5px;

    & > .row {
        display:block;

        & > [class^="col-"],
        & > [class*="col-"] {
            display:block;
        } } }

.bs-calltoaction-contents {
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center; }

.bs-calltoaction-title {
    margin: 0 auto 15px;
    padding: 0; }

.bs-calltoaction-desc { padding: 0; }

.bs-calltoaction-desc p:last-child { margin-bottom: 0; }

.bs-calltoaction-button {
    padding-top: 10px;
    padding-bottom: 10px; }

@media (min-width: 992px) {
    .bs-calltoaction > .row {
        display:table;
        width: calc(100% + 30px);

        & > [class^="col-"],
        & > [class*=" col-"] {
            display:table-cell;
            vertical-align:middle;
            float:none; } }

    .bs-calltoaction-contents { text-align: left; } }

.bs-calltoaction.bs-calltoaction-600b19 {
    $text-color: #fff;
    $base-color: #600b19;

    color: $text-color;
    background-color: $base-color;
    border-color: darken( $base-color, 20% );

    & .bs-calltoaction-button .btn {
        color:$text-color;

        border-color:$text-color;
        background-color: $base-color;

        &:hover { background-color: lighten( $base-color, 20% ); } } }
